<div class = "hero">
  <br />
  <div class = "frosty col-10 offset-1">
    <% if user_signed_in? %>
      <h1>Welcome Back</h1><h2><%=current_user.first_name%></h2>
      <br /><br />
      <hr/>
      <br /><br />
      <h3>Visit your <%= link_to 'Home Page', dashboard_path, class: "link-text" %> now!</h3>
    <% else %>
      <h2>Video games ruined my life,</h1>
      <br />
      <h1>good thing I have two extra lives.</h2>
      <br/>
      <hr>
      <br/>
      New here? Create a free account now!
      <br /><br/>
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-info' %>
    <% end %>
</div>

<br/><br/><br/><br/>

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Deciding what to play next?</h3>
    <br />
    <p>Browse the list of video games
    to find what your next adventure holds!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Checkout what others are playing!</h3>
    <br />
    <p>Check out what other people around
    the world are currently playing!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Want to review a game?</h3>
    <br />
    <p>Leave your thoughts on a game
    you've played for others to see!</p>
  </div>
</div>

<br />
<hr>
<br />


