<div class="container-fluid booyah-box">
  <br />
  <div class="row dashboard-header">
    <div class="col currently-playing">
      <br />
      <div class = "dashboard-header-title">Currently Playing</div>
      <br /><br />
      <% @games.each do |game| %>
        <div class = "gamebox-art"></div>
        <br />
        <div class = "game-title"><%= game.title %></div>
        <br />
        <%= game.platform %>
        <br />
      <% end %>
    </div>
    <div style="border-left:1px solid #FFD700"></div>
    <div class="col-6 text-center">
      <br />
      <div class = "dashboard-header-title">Want to Play (wider)</div>
    </div>
    <div style="border-left:1px solid #FFD700"></div>
    <div class="col text-center">
      <br />
      <div class = "dashboard-header-title">How many completed a year</div>
    </div>
  </div>
  <br />
</div>
<br /><br />
<div class = "booyah-box col-10 offset-1">
  EXTRA INFO

</div>
