<br /><br />
<div class = "text-center">
  <%= link_to 'Add a new Game to database', new_game_path, class: 'btn btn-secondary waves-effect waves-light' %>
</div>

<br /><br />
<hr />
<div class="booyah-box"> 
  <div class="dashboard-header">
    <div class = "dashboard-header-title">Currently Playing</div>
    <br />
    <div class = "row">
      <div class = "col dashboard-game">
        <br /><br />
        <% @games.each_with_index do |game, index| %>
          <% if index < 3 %>
            <% if current_user && current_user.cp?(game) %>
              <div>
                <br />
                <div class = "game-title-dash">
                  <%= link_to game.title.truncate(25), game_path(game) %>
                </div>
              </div>
              <br />
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />

<hr />

<div class = "booyah-box">
  <div class = "dashboard-header"> 
    <div class = "dashboard-header-title">Want to Play</div>
    <br/>
    <div class = "row">
      <div class="col dashboard-game">
        <br /><br />
        <% @games.each_with_index do |game, index| %>
          <% if index < 3 %>
            <% if current_user && current_user.wtp?(game) %>
            <div class = "gamebox-art"></div>
              <div> 
                <br />
                <div class = "game-title-dash text-center">
                  <%= link_to game.title.truncate(25), game_path(game) %>
                </div>
              </div>
              <br />
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />

<hr />

<div class="booyah-box">
  <div class = "dashboard-header">
    <div class = "dashboard-header-title">How many completed a year</div>
    <br />
    <div class = "row">
      <div class="col dashboard-game">
        <br /><br />
        <% @games.each_with_index do |game, index| %>
          <% if index < 3 %>
            <% if current_user && current_user.hp?(game) %>
              <div>
                <br />
                <div class = "game-title-dash">
                  <%= link_to game.title.truncate(25), game_path(game) %>
                </div>
              </div>
              <br />
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />

<hr />

<br />
