<br /><br />
<%= link_to 'Add a new Game to database', new_game_path, class: 'btn btn-primary' %>

<br /><br />
<hr />
<div class="booyah-box"> 
  <div class="dashboard-header">
    <div class = "dashboard-header-title">Currently Playing</div>
    <br />
    <div class = "row">
      <div class = "col">
        <br /><br />
        <% @games.each do |game| %>
          <% if current_user.cps.count == 0 %>
            <%= link_to 'Search for Games', search_games_path %>
          <% elsif current_user && current_user.cp?(game) %>
            <div class = "gamebox-art"></div>
            <br />
            <div class = "game-title">
              <%= link_to game.title.truncate(30), game_path(game) %>
            </div>
            <br />
          <% end %>
        <% end %>
      </div>
      <div class = "col">
      </div>
      <div class = "col">
      </div>
      <div class = "col">
      </div>
      <div class = "col">
      </div>
    </div>
  </div>
</div>
<br />

<hr />

<div class = "booyah-box">
  <div class = "dashboard-header"> 
    <div class = "dashboard-header-title">Want to Play (wider)</div>
    <br/>
    <div class = "row">
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
    </div>
  </div>
</div>
<br />

<hr />

<div class="booyah-box">
  <div class = "dashboard-header">
    <div class = "dashboard-header-title">How many completed a year</div>
    <br />
    <div class = "row">
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
      <div class="col">
        <br /><br />
      </div>
    </div>
  </div>
</div>
<br />

<hr />

<br />
